<app-header-without-menu title="Detalles de Campaña" route="/campaigns/animales"></app-header-without-menu>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-align-items-center ion-justify-content-center">

      <ion-col size-lg="5" size-md="12" size-xs="12" class="ion-padding">
        <img class="imageForm" [src]="campaign?.strImage_Campania" />
      </ion-col>

      <ion-col size-lg="5" size-md="12" size-xs="12">

        <ion-card class="ion-padding">

          <ion-card-header class="ion-text-center">
            <ion-card-title>{{campaign?.strNombre_Campania | uppercase}}</ion-card-title>
            <ion-card-subtitle><strong>{{campaign?.numId_Institucion}}</strong> |
              <strong>{{campaign?.strPrograma_Sector_Campania}}</strong></ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header" color="light">
                  <ion-label>Ver Concepto</ion-label>
                </ion-item>
                <div class="ion-padding ion-text-justify" style="background-color: #fcfcfc;" slot="content">
                  {{campaign?.strDescripcion_Campania}}
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </ion-card-content>

        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Vigencia</ion-card-title>
            <!-- <ion-card-title class="ion-text-center">Periodo de Vigencia</ion-card-title> -->

            <ion-grid fixed>
              <ion-row>
                <ion-col size="6">
                  <h5 class="ion-text-center"><strong>Inicio:</strong>
                    {{campaign?.strFecha_Inicio_Campania}}
                  </h5>
                </ion-col>
                <ion-col size="6">
                  <h5 class="ion-text-center"><strong>Fin:</strong>
                    {{campaign?.strFecha_Fin_Campania}}
                  </h5>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>


          <app-timer [fechaFin]="campaign?.strFecha_Fin_Campania"></app-timer>

        </ion-card>

        <ion-card>

          <ion-card-header class="ion-text-center">
            <ion-card-title>Recursos Solicitados</ion-card-title>
            <br>
            <ion-card-subtitle>~ <strong>Recursos Economicos</strong> ~</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header" color="light">
                  <ion-label>Ver Lista</ion-label>
                </ion-item>
                <div class="ion-text-justify" style="background-color: #fcfcfc;" slot="content">

                  <ion-accordion-group *ngFor="let recurso of campaign?.arrLista_Enseres_Campania">
                    <ion-accordion value="first">

                      <!-- <ion-list > -->
                      <ion-item detail="true" slot="header">
                        <ion-icon class="ion-padding-end" [color]="selectColor(recurso.strClasificacion)" [name]="selectIcon(recurso.strClasificacion)" size="small"></ion-icon>
                        <ion-label>{{ recurso.strNombre_Enser }}</ion-label>
                      </ion-item>

                      <div class="ion-text-justify ion-padding" style="background-color: #fcfcfc;" slot="content">
                        <p><strong>Requisitos:</strong> {{ recurso.strRequisitos }}</p>
                      </div>
                      <!-- </ion-list> -->

                    </ion-accordion>
                  </ion-accordion-group>

                </div>
              </ion-accordion>
            </ion-accordion-group>
          </ion-card-content>

        </ion-card>

        <ion-grid class="ion-margin-top">
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="9" size-md="6" size-lg="6">
              <ion-button mode="md" fill="outline" expand="block" id="open-modal" color="success">
                <ion-text color="dark">
                  <h5>Apoyar Campaña</h5>
                </ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="tertiary" size="large">
      <!-- <ion-icon name="help-circle-outline" size="large"></ion-icon> -->
      <!-- <ion-icon name="help-outline" size="large"></ion-icon> -->
      <ion-icon name="information-circle-outline" size="large"></ion-icon>
      <!-- <ion-icon name="information-outline" size="large"></ion-icon> -->
    </ion-fab-button>

    <ion-fab-list side="start">
      <ion-fab-button (click)="viewMap(idCampaing)" color="dark">
        <ion-icon name="map-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="warning" id="open-modalReport">
        <ion-icon name="alert-circle-outline" size="large"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="light">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>


  </ion-fab>

</ion-content>

<!-- Modal Select Support -->

<ion-modal #modal trigger="open-modal" id="modal">
  <ng-template>
    <ion-content style=" --offset-bottom: auto!important; --overflow: hidden; overflow: auto;">
      <ion-toolbar class="ion-text-center">
        ¿Como deseeas apoyar la campaña?
      </ion-toolbar>

      <ion-grid fixed>
        <ion-row class="ion-justify-content-center">

          <ion-col size-xs="11" size-md="8" size-lg="8">
            <ion-button mode="md" fill="outline" expand="block" (click)="showEconomicSuppor()" color="success">
              <ion-text color="dark">
                <h5>Por Transacción</h5>
              </ion-text>
            </ion-button>
          </ion-col>

          <ion-col size-xs="11" size-md="8" size-lg="8">
            <ion-button mode="md" fill="outline" expand="block" (click)="showPhysicSupport()">
              <ion-text color="dark">
                <h5>Donacion Fisica</h5>
              </ion-text>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-content>
  </ng-template>
</ion-modal>

<!-- Modal Select Report -->

<ion-modal #modalReport trigger="open-modalReport" id="modalReport">
  <ng-template>
    <ion-content style=" --offset-bottom: auto!important; --overflow: hidden; overflow: auto;">
      <ion-toolbar class="ion-text-center">
        ¿Desea Reportar esta Campaña?
      </ion-toolbar>

      <ion-grid fixed>
        <ion-row class="ion-justify-content-center ion-align-items-center">

          <ion-col sizeXs="12" sizeLg="9" class="ion-margin-top">
            <ion-item fill="solid" mode="md">
              <ion-label position="floating">Seleccione el motivo de su Reporte</ion-label>
              <ion-select value="" multiple="false">
                <ion-select-option value="Contenido sexual">Contenido sexual</ion-select-option>
                <ion-select-option value="Contenido violento o repulsivo">Contenido violento</ion-select-option>
                <ion-select-option value="Contenido repulsivo">Contenido repulsivo</ion-select-option>
                <ion-select-option value="Incitación al odio">Incitación al odio</ion-select-option>
                <ion-select-option value="Actos peligrosos">Actos peligrosos</ion-select-option>
                <ion-select-option value="Actos perjudiciales">Actos perjudiciales</ion-select-option>
                <ion-select-option value="Maltrato infantil">Maltrato infantil</ion-select-option>
                <ion-select-option value="Fomenta el terrorismo">Fomenta el terrorismo</ion-select-option>
                <ion-select-option value="Engañoso o con spam">Engañoso o con spam</ion-select-option>
                <ion-select-option value="Infringe mis derechos">Infringe mis derechos</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size-xs="6" size-md="6" size-lg="6">
            <ion-button mode="md" fill="outline" expand="block" id="open-modal" color="danger"
              (click)="modalReportDismiss()">
              <ion-text color="dark">
                <h5>Cancelar</h5>
              </ion-text>
            </ion-button>
          </ion-col>

          <ion-col size-xs="6" size-md="6" size-lg="6">
            <ion-button mode="md" fill="outline" expand="block" id="open-modal" color="success">
              <ion-text color="dark">
                <h5>Reportar</h5>
              </ion-text>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-content>
  </ng-template>
</ion-modal>

<!-- Modal Economic Support -->

<ion-modal #modalEconomicSupport id="modalEconomicSupport">
  <ng-template>
    <ion-content>
      <ion-toolbar class="ion-text-center">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="8">
              <h5>Apoyo por Transacción</h5>
            </ion-col>
            <ion-col size="4">
              <ion-button (click)="EconomicSupportDismiss()" fill="outline" color="light">
                Cancelar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>

      <ion-grid>
        <ion-row class="ion-justify-content-center">

          <ion-col size-xs="12" size-md="12" size-lg="12">

            <form>

              <ion-grid>
                <ion-row class="ion-justify-content-center ion-align-items-start">
                  <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
                    <ion-item fill="solid" mode="md" counter="true" [counterFormatter]="customCounterFormatter"
                      lines="none">
                      <ion-label position="floating">Nombre(s)</ion-label>
                      <ion-input clearInput="true" required type="text" maxlength="15"
                        onkeyup="this.value = this.value.toUpperCase();"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
                    <ion-item fill="solid" mode="md" counter="true" [counterFormatter]="customCounterFormatter"
                      lines="none">
                      <ion-label position="floating">Apellidos</ion-label>
                      <ion-input clearInput="true" required type="text" maxlength="30"
                        onkeyup="this.value = this.value.toUpperCase();"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
                    <ion-item fill="solid" mode="md">
                      <ion-label position="floating">Monto a Donar</ion-label>
                      <ion-input clearInput="true" required type="number" min="0" max="9999"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-item-divider class="ion-margin-top">
                    <ion-label>Tarjeta de Credito</ion-label>
                  </ion-item-divider>

                  <ion-col sizeXS="12" sizeLg="8" sizeMd="8" class="ion-margin-bottom ion-margin-top">
                    <div class="card">
                      <div class="intern">
                        <img class="approximation" src="./assets/Images/aprox.png" alt="aproximation">
                        <div class="card-number">
                          <div class="number-vl">---- ---- ---- ----</div>
                        </div>
                        <div class="card-holder">
                          <label>Propietario</label>
                          <div class="name-vl cardInfo">---- ----</div>
                        </div>
                        <div class="card-infos">
                          <div class="exp">
                            <label>Expira en:</label>
                            <div class="expiration-vl cardInfo">--/--</div>
                          </div>
                          <div class="cvv">
                            <label>CVV</label>
                            <div class="cvv-vl cardInfo">----</div>
                          </div>
                        </div>
                        <img class="chip" src="./assets/Images/chip.png" alt="chip">
                      </div>
                    </div>
                  </ion-col>

                  <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
                    <ion-item fill="solid" mode="md" counter="true" [counterFormatter]="customCounterFormatter"
                      lines="none">
                      <ion-label position="floating">Nombre(s)</ion-label>
                      <ion-input clearInput="true" type="text" name="name-text" id="name-text" maxlength="30"
                        placeholder="--- ---" required></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
                    <ion-item fill="solid" mode="md" counter="true" [counterFormatter]="customCounterFormatter"
                      lines="none">
                      <ion-label position="floating">Apellidos</ion-label>
                      <ion-input clearInput="true" type="text" name="name-text" id="lastname-text" maxlength="30"
                        placeholder="--- ---" required></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
                    <ion-item fill="solid" mode="md" lines="none">
                      <ion-label position="floating">Número de Tarjeta</ion-label>
                      <ion-input clearInput="true" name="card-number" id="card-number" maxlength="19"
                        placeholder="---- ---- ---- ----" required></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
                    <ion-item fill="solid" mode="md" lines="none">
                      <ion-label position="floating">CVV/CVC</ion-label>
                      <ion-input clearInput="true" type="text" name="cvv-text" id="cvv-text" maxlength="4"
                        placeholder="---" required ></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col sizeLg="6" sizeMd="6" sizeXs="12 ">
                    <ion-item fill="solid" mode="md">
                      <ion-label position="stacked">Fecha de Expiración</ion-label>
                      <ion-input clearInput="true" type="text" name="valid-thru-text" id="valid-thru-text" maxlength="5"
                        placeholder="--/--" required onkeypress="return event.charCode >=48 && event.charCode <= 57">
                      </ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col sizeLg="8" sizeMd="8" sizeXs="8 ">
                    <ion-button color="primary" type="submit" fill="outline" expand="block" (click)="showThanks()">
                      Transferir
                    </ion-button>
                  </ion-col>

                </ion-row>
              </ion-grid>

            </form>

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-content>
  </ng-template>
</ion-modal>

<!-- Modal Physic Support -->

<ion-modal #modalPhysicSupport id="modalPhysicSupport">
  <ng-template>
    <ion-content>

      <ion-toolbar class="ion-text-center">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="8">
              <h5>Apoyo por Entrega</h5>
            </ion-col>
            <ion-col size="4">
              <ion-button (click)="PhysicSupportDismiss()" fill="outline" color="light">
                Cancelar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>

      <ion-grid>
          <ion-row class="ion-justify-content-center">

            <ion-col size-xs="12" size-md="12" size-lg="12">

              <ion-grid fixed>
                <ion-row class="ion-align-items-center ion-align-items-center ion-justify-content-center">
                  <ion-col size="3">
                    <ion-button expand="block" fill="outline" shape="round" color="danger" size="default" disabled="true">
                      Nota
                    </ion-button>
                  </ion-col>
                  <ion-col size="9">
                    <p class="ion-text-justify">Antes de realizar tu aporte, corrobora que existan <a (click)="viewMap(idCampaing)">Centros de Entrega</a> cerca de ti.</p>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-col>

            <ion-col size="11">

              <ion-list>
                <p class="ion-text-justify">Seleccione los recursos con los que cuente y la cantidad que desea donar</p>
              </ion-list>

                <form>

                  <ion-grid>
                    <ion-row *ngFor="let recurso of campaign?.arrLista_Enseres_Campania; let i = index">
                      <ion-col size="9">
                        <ion-item  mode="md" fill="solid">
                          <ion-label>{{recurso.strNombre_Enser}}</ion-label>
                          <ion-checkbox slot="start" (ionChange)="changeEvent($event, i)"></ion-checkbox>
                        </ion-item>
                      </ion-col>
                      <ion-col size="3">
                        <ion-item  mode="md" fill="solid">
                          <ion-input type="number" value="0" [disabled]="!checkedList[i]"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row class="ion-justify-content-center">
                      <ion-col size="9">
                        <ion-button color="success" type="submit" fill="outline" expand="block" (click)="showThanks()">
                          Asegurar Apoyo
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </form>

            </ion-col>

          </ion-row>
        </ion-grid>

    </ion-content>
  </ng-template>
</ion-modal>

<!-- Modal Thanks Support -->

<ion-modal #modalThanks id="modalThanks">
  <ng-template>
    <ion-content style=" --offset-bottom: auto!important; --overflow: hidden; overflow: auto;">

      <ion-toolbar class="ion-text-center">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="8">
              <h5>Agradecimientos</h5>
            </ion-col>
            <ion-col size="4">
              <ion-button (click)="ThanksDismiss()" fill="outline" color="light">
                Cerrar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>

      <div class="ion-padding-end ion-padding-start ion-text-justify" style="background-color: #fcfcfc;">
        <p>!Muchas gracias por apoyar a "{{campaign?.strNombre_Campania}}". Con tu ayuda y apoyo haremos todos los esfuerzos
          necesarios para alcanzar nuestros objetivos! </p>
      </div>


    </ion-content>
  </ng-template>
</ion-modal>

<!-- <ion-text color="danger">*</ion-text> -->
