<ion-header translucent="true" mode="ios">
  <ion-toolbar class="backgroudTool">

    <ion-buttons mode="md" slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>

    <span class="fontType paddingForTitle">
      CaridApp
    </span>

    <ion-buttons slot="end">
      <ion-menu-button autoHide="true" color="dark" menu="first" > </ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<app-side-nav></app-side-nav>

<ion-content id="main">

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">

      <ion-col sizeLg="5" sizeXs="12" sizeMd="5" class="cuyShopMargin">
        <h1 class="ion-text-center bold">CUY SHOP</h1>

        <ion-grid fixed>
          <ion-row class="ion-justify-content-center">

            <ion-col sizeXs="7" sizeMd="8" sixeLg="9">
              <ion-thumbnail class="cuyProfile">
                <img [src]="userProfile"/>
              </ion-thumbnail>
            </ion-col>

          </ion-row>
          <ion-row class="ion-justify-content-center" iala>

            <ion-col sizeXs="10" sizeMd="6" sixeLg="6">
              <ion-card>
                <ion-item lines="none">
                  <img class="cuyPointsUser" src="./assets/Images/Cuypoint_Only.png"/>
                  <ion-label class="ion-text-center"><strong>Cuy Points:</strong> {{ userPoints }}</ion-label>
                </ion-item>
              </ion-card>
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-col>

      <ion-col sizeLg="7" sizeXs="12" sizeMd="7">
        <ion-card class="store scrollStore" scroll-y="true" scroll-x="false">

            <h2 class="ion-text-center" >Cuy Skins</h2>

            <ion-grid fixed>
              <ion-row class="ion-justify-content-evenly">

                <ion-col sizeXs="6" sizeMd="4" sizeLg="4" *ngFor="let cuyo of myCuys" >
                  <app-cuy-card [cuy]="cuyo" [isMine]="true"></app-cuy-card>
                </ion-col>

                <ion-col sizeXs="6" sizeMd="4" sizeLg="4" *ngFor="let cuyo of allCuys" >
                  <app-cuy-card [cuy]="cuyo" [isMine]="false"></app-cuy-card>
                </ion-col>

              </ion-row>
            </ion-grid>

        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
