ion-item-divider{
  background-color: #cde2ee;
  height: 3.5rem;
}

.gridMenuVisit{
  margin-top: 3.5rem !important;
}

.emailMargin{
  margin-top: -0.6rem;
}

.black{
  color: black;
}

.buttonNavigate{
  height: 2.3rem;
}

.logOutMargin{
  margin-bottom: 0.6rem;
}

.dashButton{
  color: #2dd36f;
}

.logOutButton{
  color: #eb445a;
}
