<ion-menu menuId="first" contentId="main" side="end" type="overlay" >
  <ion-content>

    <ion-item-divider lines="full" style="background-color: #cde2ee; height: 3.5rem;">
      <ion-grid fixed>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12">
            <h1 class="ion-text-center"><strong>Mi Perfil</strong></h1>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item-divider>

    <ion-item lines="none">
        <ion-img class="ion-margin-top ion-margin-end ion-margin-start" src="./assets/Images/pilotProfile.jpeg"></ion-img>
    </ion-item>

    <ion-item lines="full">
      <ion-grid fixed>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12">
            <h1 class="ion-text-center">Depinazul</h1>
            <h5 class="ion-text-center" style="margin-top: -0.6rem;">vgabriel.valencia@gmail.com</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none" >
      <ion-grid>
        <ion-row class="ion-align-items-center ion-padding-top">

          <ion-col size="3" offset="2">
            <ion-avatar>
              <ion-img style="width: 3.8rem; height: 3.8rem;" src="./assets/Images/Cuypoint_Only.png"/>
            </ion-avatar>
          </ion-col>

          <ion-col size="5">
            <h2 class="ion-text-start ion-padding-top" style="color: black;"><strong>1000</strong> pts.</h2>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-content>

  <footer>
    <ion-menu-toggle>
      <ion-button (click)="goToClass()" size="default" expand="block" fill="clear" shape="round" style="height: 2.3rem;">
        <ion-icon size="large" slot="start" name="cog"></ion-icon>
        <h4>Editar Cuenta</h4>
      </ion-button>
      <!-- <ion-button routerLink="/login" size="large" expand="block" fill="clear" shape="round" style="height: 2.3rem;">
        <ion-icon size="large" slot="start" name="information-circle" color="success"></ion-icon>
        <p style="color: #2dd36f;">Servicio al Cliente </p>
      </ion-button> -->
      <ion-button routerLink="/login" (click)="logOut()" size="default" expand="block" fill="clear" shape="round" style="height: 2.3rem; margin-bottom: 0.6rem;">
        <ion-icon size="large" slot="start" name="log-out" color="danger"></ion-icon>
        <h4 style="color: #eb445a;">Cerrar Sesion</h4>
      </ion-button>
    </ion-menu-toggle>
  </footer>

</ion-menu>
