<ion-header translucent="true" mode="ios">
  <ion-toolbar style="background-color: #7ac4f5">

    <ion-buttons mode="md" slot="start">
      <ion-back-button defaultHref="/dashboard/carid-Inst-Role"></ion-back-button>
    </ion-buttons>

    <ion-title>Centos de Acopio</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button autoHide="true" color="dark" menu="first" > </ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<app-side-nav></app-side-nav>

<ion-content id="main">

  <div style="margin-top: 7% !important;" *ngIf="myCenterList.length > 0">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center ion-align-items-center">

        <ion-col sizeLg="5" sizeXs="12" sizeMd="6">
          <ion-card style="max-height:365px;" scroll-y="true" scroll-x="false"  class="groupList">
            <ion-card-header>
              <ion-card-title class="ion-text-center">Centros Registrados</ion-card-title>
              <ion-card-subtitle class="ion-text-center">- Panel de Control -</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
                <ion-list>
                  <ion-item button="" detail mode="md" fill="outline" lines="none" (click)="centerInteraction(campaign, i)"
                    class="ion-margin-bottom" *ngFor="let campaign of myCenterList | filter:filterTerm; let i = index" >
                    <ion-label>{{ campaign.strNombre_CentroA }}</ion-label>
                  </ion-item>
                </ion-list>

            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col sizeLg="6" sizeXs="12" sizeMd="6" offsetLg="1" >

            <div class="mapAllCenters" id="mapboxAllCenters" tabindex="0"></div>

        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="myCenterList.length === 0">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center ion-align-items-center">

        <ion-col sizeLg="6" sizeXs="12" sizeMd="8">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Centros Registrados</ion-card-title>
              <ion-card-subtitle class="ion-text-center">- Panel de Control -</ion-card-subtitle>
            </ion-card-header>
          </ion-card>

          <ion-card class="ion-margin-top">
            <ion-card-content>
              <ion-img src="https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png"></ion-img>
              <h1 class="ion-text-center">¡Tu lista esta Vacia!</h1>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" routerLink="/create-center">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
