<app-header-without-menu title="Centros Asigandos" [route]="'/campaign-details/'+idCampaing"></app-header-without-menu>

<ion-content>

  <div class="map" id="mapbox" tabindex="0"></div>

  <ion-slides (ionSlideDidChange)="onSlideDidChange()">
    <ion-slide *ngFor="let marker of centerMarkers" >

      <ion-card color="danger">
        <ion-card-header>
          <h5 style="font-weight: bolder;">{{ marker.strNombre_CentroA }}</h5>
          <ion-card-subtitle>{{ marker.strSubtitulo_CentroA }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

    </ion-slide>
  </ion-slides>

</ion-content>

