<app-header title="Centro de Control" >
</app-header>

<app-side-nav></app-side-nav>

<ion-content id="main" *ngIf="type === 'carid-Inst-Role'">

  <div style="margin-top: 6% !important;">
    <ion-grid style="padding: 2% !important;">
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col sizeXs="12" sizeMd="6" sizeLg="4" *ngFor="let i of interactionsInst" >
          <ion-card (click)="goToRoute(i.route)">
            <ion-grid fixed>
              <ion-row class="ion-justify-content-center ion-align-items-center ">
                <ion-col sizeXs="4" sizeLg="8" sizeMd="5">
                  <ion-img [src]="i.image"></ion-img>
                </ion-col>
                <ion-col sizeXs="8" sizeLg="12" sizeMd="7">
                  <h3  class="ion-text-center">{{ i.title }}</h3>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<ion-content id="main" *ngIf="type === 'carid-Admin-Role'">
</ion-content>

<ion-content id="main" *ngIf="type != 'carid-Inst-Role' && type != 'carid-Admin-Role'">

    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size-lg="6" size-md="6" size-xs="12" class="ion-margin-top">
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col size="8">
                <ion-img src="./assets/Images/Cuyo_login2.webp"></ion-img>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size-lg="4" size-md="4" size-xs="12" class="ion-margin-top">
            <ion-card>

              <ion-card-header>
                <ion-card-title class="ion-text-center">UPPSS!!</ion-card-title>
                <br>
                <h3 class="ion-text-center">Esta ventana no existe. <br> Porfavor regrese a la ventana de Logeo</h3>
              </ion-card-header>

            </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>

