<ion-header translucent="true" mode="ios">
  <ion-toolbar>
      <ion-buttons mode="md" slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <span class="fontType" style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
        Configuración
      </span>
  </ion-toolbar>
</ion-header>

<style>
  .selectContect{
    background-color: #fdfdfd !important;
    color: rgb(67, 137, 216) !important;
    font-weight: bolder !important;
  }

  .titleForm{
    color: #000 !important;
    margin: 0px !important;
    padding: 0px !important;
    font-size: 28px !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
  }

</style>

<ion-content>

  <ion-grid style="margin-top: 2rem !important;">
    <ion-row class="ion-justify-content-center ion-align-items-center">

      <ion-col sizeLg="5" sizeXs="12" >
        <img src="../../../assets/Images/pilotProfile.jpeg"
          style="
            width: 80%;
            height: auto;
            object-fit: fill;
            border-radius: 25%;
            margin-left: 10%;
          "
        >

      </ion-col>

      <ion-col sizeLg="6" sizeXs="12">

        <ion-card-header>
          <h1 class="ion-text-center" style="margin-top: 1rem; margin-bottom: 1rem;">Configura tu Información</h1>

          <ion-grid>
            <ion-row style="background-color: #f1f1f1;">

              <ion-col size="4">
                <ion-button (click)="showContent('settings-personal')" expand="block" [class.selectContect]="content === 'settings-personal'" fill="clear"
                style="font-weight: 500;"
                >
                  Personal
                </ion-button>
              </ion-col>

              <ion-col size="4">
                <ion-button (click)="showContent('settings-contact')" expand="block" [class.selectContect]="content === 'settings-contact'" fill="clear"
                style="font-weight: 500;"
                >
                  Domicilio
                </ion-button>
              </ion-col>

              <ion-col size="4">
                <ion-button (click)="showContent('settings-profile')" expand="block" [class.selectContect]="content === 'settings-profile'" fill="clear"
                style="font-weight: 500;"
                >
                  Perfil
                </ion-button>
              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>

        <ion-card-content *ngIf="content === 'settings-personal'" >
          <ion-card-title class="ion-text-center titleForm">Información Personal</ion-card-title>
          <br>

          <ion-grid fixed>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col sizeXs="12" sizeLg="8">

                <form >

                  <ion-item fill="solid" mode="md" counter="true" [counterFormatter]="customCounterFormatter">
                    <ion-label position="floating">Nombre(s)</ion-label>
                    <ion-input required clearInput="true" type="text" maxlength="20" value="Victor Gabriel"></ion-input>
                  </ion-item>

                  <ion-item fill="solid" mode="md" counter="true" [counterFormatter]="customCounterFormatter">
                    <ion-label position="floating">Apellido Paterno</ion-label>
                    <ion-input required clearInput="true" type="text" maxlength="15" value="Valencia"></ion-input>
                  </ion-item>

                  <ion-item fill="solid" mode="md" counter="true" [counterFormatter]="customCounterFormatter">
                    <ion-label position="floating">Apellido Materno</ion-label>
                    <ion-input required clearInput="true" type="text" maxlength="15" value="García"></ion-input>
                  </ion-item>

                  <ion-item fill="solid" mode="md" counter="true" [counterFormatter]="customCounterFormatter">
                    <ion-label position="floating">Numero de Telefono</ion-label>
                    <ion-input required clearInput="true" type="tel" mode="md" maxlength="15" value="951-544-2361"></ion-input>
                  </ion-item>

                  <ion-item fill="solid" mode="md">
                    <ion-label position="floating">Ingrese su Edad</ion-label>
                    <ion-input required clearInput="true" type="text" maxlength="3" value="19"></ion-input>
                  </ion-item>

                  <ion-button color="success" size="medium" type="submit" expand="block" style="margin-bottom: 1rem;"
                              fill="outline" shape="round" class="ion-margin-top">
                    Guardar Cambios
                  </ion-button>

                </form>

              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>

        <ion-card-content *ngIf="content === 'settings-contact'" >
          <ion-card-title class="ion-text-center titleForm">Dirección de Contacto</ion-card-title>
          <br>

          <ion-grid fixed>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col sizeXs="12" sizeLg="8">

                <form >

                  <ion-item fill="solid" mode="md" counter="true" [counterFormatter]="customCounterFormatter">
                    <ion-label position="floating">Colonia / Localidad</ion-label>
                    <ion-input required clearInput="true" type="text" maxlength="50" value="Fraccionamiento de Reyes Mantecón"></ion-input>
                  </ion-item>

                  <ion-item fill="solid" mode="md" counter="true" [counterFormatter]="customCounterFormatter">
                    <ion-label position="floating">Codigo postal</ion-label>
                    <ion-input required clearInput="true" type="text" maxlength="5" autocomplete="postal-code" value="71295"></ion-input>
                  </ion-item>

                  <ion-item fill="solid" mode="md" counter="true" [counterFormatter]="customCounterFormatter">
                    <ion-label position="floating">Calle / Avenida</ion-label>
                    <ion-input required clearInput="true" type="text" maxlength="25" autocomplete="street-addres" value="Comaltepec"></ion-input>
                  </ion-item>

                  <ion-item fill="solid" mode="md">
                    <ion-label position="floating">No. Casa</ion-label>
                    <ion-input required clearInput="true" type="text" maxlength="4" value="7"></ion-input>
                  </ion-item>

                  <ion-button color="success" size="medium" type="submit" expand="block" style="margin-bottom: 1rem;"
                              fill="outline" shape="round" class="ion-margin-top">
                    Guardar Cambios
                  </ion-button>

                </form>

              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>

        <ion-card-content *ngIf="content === 'settings-profile'" >

          <ion-grid>
            <ion-row class="ion-justify-content-center ion-align-items-center">

              <ion-col sizeXs="12" sizeLg="5">
                <ion-card-title class="ion-text-center titleForm">Perfil</ion-card-title>
                <br>

                <form >

                  <ion-item fill="solid" mode="md" counter="true" [counterFormatter]="customCounterFormatter">
                    <ion-label position="floating">Nombre de Usuario</ion-label>
                    <ion-input required clearInput="true" type="text" maxlength="15" value="Depinazul"></ion-input>
                  </ion-item>

                  <ion-item fill="solid" mode="md" style="margin-bottom: 1rem;">
                    <ion-label position="floating">Correo Electronico</ion-label>
                    <ion-input required clearInput="false" type="email" maxlength="40" autocomplete="email" disabled="true" readonly="true"
                    value="vgabriel.valencia@gmail.com"></ion-input>
                  </ion-item>

                  <ion-button mode="md" fill="clear" expand="block" (click)="showChangePass()" color="primary" >
                    Cambiar Contraseña
                  </ion-button>

                  <ion-button color="success" size="medium" type="submit" expand="block" style="margin-bottom: 1rem;"
                              fill="outline" shape="round" class="ion-margin-top">
                    Guardar Cambios
                  </ion-button>

                </form>


              </ion-col>

              <ion-col sizeXs="12" sizeLg="6" offsetLg="1">

                <ion-card class="cuyPoints_Box">

                  <ion-grid fixed>
                    <ion-row class="ion-align-items-center">
                      <ion-col size="6">
                        <ion-img src="../../../assets/Images/Cuypoint_Casino.png" class="cuyPoints_Image"></ion-img>
                      </ion-col>
                      <ion-col size="6">
                        <h1 class="ion-text-center cuyPoints_Text">{{ 9999 | currency }}</h1>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                </ion-card>

              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-modal #modal>
    <ng-template>
      <ion-content>

        <ion-toolbar class="ion-text-center">
          Cambio de Contraseña
        </ion-toolbar>

        <ion-grid class="ion-margin-top">
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col sizeXs="12" sizeLg="9">
                <form >

                  <ion-item fill="solid" mode="md" counter="true" [counterFormatter]="customCounterFormatter">
                    <ion-label position="floating">Nueva Contraseña</ion-label>
                    <ion-input required [type]="passInputType" maxlength="16" id="pass"></ion-input>
                  </ion-item>

                  <ion-item fill="solid" mode="md" counter="true" [counterFormatter]="customCounterFormatter">
                    <ion-label position="floating">Confirmar tu Contraseña</ion-label>
                    <ion-input required [type]="passInputType" maxlength="16" id="pass"></ion-input>
                  </ion-item>

                  <ion-button (click)="toggleShow()" [hidden]="showPassword" fill="clear" color="primary" size="small" style="margin-top: 1rem;">
                    <ion-icon slot="start" name="eye-outline"></ion-icon>
                    Mostrar Contraseña
                  </ion-button>
                  <ion-button (click)="toggleShow()" [hidden]="!showPassword" fill="clear" color="primary" size="small" style="margin-top: 1rem;">
                    <ion-icon slot="start" name="eye-off-outline"></ion-icon>
                    Ocultar Contraseña
                  </ion-button>

                  <ion-button color="success" size="medium" type="submit" expand="block" style="margin-bottom: 1rem;"
                              fill="outline" shape="round" class="ion-margin-top">
                    Guardar Cambios
                  </ion-button>

                </form>

              </ion-col>
          </ion-row>
        </ion-grid>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
