<ion-header translucent="true" mode="ios">
  <ion-toolbar style="background-color: #7ac4f5">

    <ion-buttons mode="md" slot="start">
      <ion-back-button defaultHref="/dashboard/carid-Inst-Role"></ion-back-button>
    </ion-buttons>

    <ion-title>Mis Campañas</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button autoHide="true" color="dark" menu="first" > </ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<app-side-nav></app-side-nav>

<ion-content id="main" class="ion-padding">

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center ion-align-items-center">


      <ion-col sizeLg="7" sizeMd="7" sizeXs="12">
        <h1	class="ion-text-center" style="border-bottom: 1px solid rgba(0, 0, 0, 0.222); color: #0000007e; padding-bottom: 0.5rem;">{{ titleType }}</h1>
      </ion-col>

      <ion-col sizeLg="5" sizeMd="5" sizeXs="12">
        <ion-segment mode="ios" value="all" (ionChange)="segmentChanged($event)" >
          <ion-segment-button [value]="type.value" *ngFor="let type of campaignsType" >
            <ion-icon [name]="type.icon"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-col>

    </ion-row>
  </ion-grid>

  <div *ngIf="selectorType === 'all'" >
    <ion-grid  *ngIf="allCampaigns.length === 0">
      <ion-row class="ion-justify-content-center ion-align-items-center">

        <ion-col sizeLg="5" sizeMd="5" sizeXs="12">
          <ion-card style="margin-top: -0.5rem;">
            <ion-card-content>
              <ion-img src="https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png"></ion-img>
              <h1 class="ion-text-center">¡Tu lista esta Vacia!</h1>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-grid  *ngIf="allCampaigns.length > 0">
      <ion-row class="ion-justify-content-center ion-align-items-center">

        <ion-col sizeLg="9" sizeMd="9" sizeXs="12">
          <ion-searchbar placeholder="Buscar Campaña" [(ngModel)]="filterTermAll" cancelButtonIcon="true"></ion-searchbar>
        </ion-col>

        <ion-col sizeLg="4" sizeMd="4" sizeXs="12" *ngFor="let all of allCampaigns | filter : filterTermAll" >
          <app-campaign-ticket [campaign]="all"></app-campaign-ticket>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="selectorType === 'animals'" >
    <ion-grid  *ngIf="animalCampaigns.length === 0">
      <ion-row class="ion-justify-content-center ion-align-items-center">

        <ion-col sizeLg="5" sizeMd="5" sizeXs="12">
          <ion-card style="margin-top: -0.5rem;">
            <ion-card-content>
              <ion-img src="https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png"></ion-img>
              <h1 class="ion-text-center">¡Tu lista esta Vacia!</h1>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-grid  *ngIf="animalCampaigns.length > 0">
      <ion-row class="ion-justify-content-center ion-align-items-center">

        <ion-col sizeLg="9" sizeMd="9" sizeXs="12">
          <ion-searchbar placeholder="Buscar Campaña" [(ngModel)]="filterTermAnimal" cancelButtonIcon="true"></ion-searchbar>
        </ion-col>

        <ion-col sizeLg="4" sizeMd="4" sizeXs="12" *ngFor="let animal of animalCampaigns | filter : filterTermAnimal" >
          <app-campaign-ticket [campaign]="animal"></app-campaign-ticket>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>

  <div *ngIf="selectorType === 'social'" >
    <ion-grid  *ngIf="socialCampaigns.length === 0">
      <ion-row class="ion-justify-content-center ion-align-items-center">

        <ion-col sizeLg="5" sizeMd="5" sizeXs="12">
          <ion-card style="margin-top: -0.5rem;">
            <ion-card-content>
              <ion-img src="https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png"></ion-img>
              <h1 class="ion-text-center">¡Tu lista esta Vacia!</h1>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-grid  *ngIf="socialCampaigns.length > 0">
      <ion-row class="ion-justify-content-center ion-align-items-center">

        <ion-col sizeLg="9" sizeMd="9" sizeXs="12">
          <ion-searchbar placeholder="Buscar Campaña" [(ngModel)]="filterTermSocial" cancelButtonIcon="true"></ion-searchbar>
        </ion-col>

        <ion-col sizeLg="4" sizeMd="4" sizeXs="12" *ngFor="let social of socialCampaigns | filter : filterTermSocial" >
          <app-campaign-ticket [campaign]="social"></app-campaign-ticket>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>

  <div *ngIf="selectorType === 'natural'" >
    <ion-grid  *ngIf="disasterCampaigns.length === 0">
      <ion-row class="ion-justify-content-center ion-align-items-center">

        <ion-col sizeLg="5" sizeMd="5" sizeXs="12">
          <ion-card style="margin-top: -0.5rem;">
            <ion-card-content>
              <ion-img src="https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png"></ion-img>
              <h1 class="ion-text-center">¡Tu lista esta Vacia!</h1>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-grid  *ngIf="disasterCampaigns.length > 0">
      <ion-row class="ion-justify-content-center ion-align-items-center">

        <ion-col sizeLg="9" sizeMd="9" sizeXs="12">
          <ion-searchbar placeholder="Buscar Campaña" [(ngModel)]="filterTermDisaster" cancelButtonIcon="true"></ion-searchbar>
        </ion-col>

        <ion-col sizeLg="4" sizeMd="4" sizeXs="12" *ngFor="let natural of disasterCampaigns | filter : filterTermDisaster" >
          <app-campaign-ticket [campaign]="natural"></app-campaign-ticket>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" routerLink="/create-campaigns">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
