// Toolbar

.toolbarColor{
  background-color: #7ac4f5
}

// Title
.title{
  border-bottom: 1px solid rgba(0, 0, 0, 0.222); color: #0000007e;
  padding-bottom: 0.5rem;
}

// Margins

.isEmptyMargin{
  margin-top: -0.5rem;
}


app-campaign-ticket{
  cursor: pointer;
}
