
// Mapa
.mapOfCenterCSS{
  width: 100%;
  height: 280px !important ;
  border-radius: 5%;
  padding: 10px;
}

// Margins

.content{
  padding-top: 2rem;
}

.cardContent{
  margin-top: -1rem !important;
}


// Backgrounds

.acordionBack{
  background-color: #fcfcfc;
}
