<ion-card (click)="campaignInteraction()">
  <!-- <ion-card> -->
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="4">
          <img [src]="campaign.strImage_Campania" class="imgCampaign">
        </ion-col>
        <ion-col size="8">
          <h5 class="ion-text-center">{{ campaign.strNombre_Campania.lenght > 29 ? campaign.strNombre_Campania.slice(0,29)+' ...' : campaign.strNombre_Campania }}</h5>
          <p class="ion-text-center">{{ campaign.strFecha_Inicio_Campania }} / {{ campaign.strFecha_Fin_Campania }}</p>
          <p class="ion-text-center state" *ngIf="campaign.strEstado_Campania === 'Vigente'" >Estado: <span class="vigente">{{ campaign.strEstado_Campania }}</span></p>
          <p class="ion-text-center state" *ngIf="campaign.strEstado_Campania === 'Vencida'" >Estado: <span class="vencida">{{ campaign.strEstado_Campania }}</span></p>
          <p class="ion-text-center state" *ngIf="campaign.strEstado_Campania === 'Desactivada'" >Estado: <span class="desactivada">{{ campaign.strEstado_Campania }}</span></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- </ion-card> -->
</ion-card>
